body {
  width: 350px;
  margin: 0;
  padding: 0 10px;

  font-size: 14px;
  font-family: "Arial", sans-serif;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th{
  padding: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
td{
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.row_1_col_1{
  width: 33%;
  background-color: darkcyan;
  color: white;
  text-align: left;
}
.row_1_col_2{
  width: 33%;
  background-color: lightblue;
  color: white;
  text-align: center;
}
.row_1_col_3{
  width: 33%;
  background-color: darkcyan;
  color: white;
  text-align: right;
}
.row_2{
  background-color: lightyellow;
}
.col_1{
  text-align: left;
}
.col_2{
  text-align: center;
}
.col_3{
  text-align: right;
}