.change {
    &__image {
        position: absolute;
    }
    &__image--fat {
        top: 40px;
        left: 0;
        z-index: 1;
    }
    &__image--skinny {
        top: 40px;
        left: 0;
        z-index: -1;
    }
    &__button {
        border: none;  
        background-color: inherit;
        position: absolute;
        width: 49px;
        height: 30px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
    }
    &__before {
        top: 287px;
        left: 35px;
    }
    &__after {
        top: 287px;
        right: 35px;
    }
    &__range {
        position: absolute;
        top: 295px;
        left: 97px;
    }
}