.form {
    padding: 0 20px;
    margin-top: -4px;
    &__text {
        font-family: Oswald;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 17px;
    }
    &__field {
        padding: 22px 0px;
    }
    &__profile {
        padding-bottom: 13px;
    }
    &__button {
        margin-top: 12px;
    }
    &__notation {
        box-sizing: border-box;
        width: 280px;
        padding: 21px 60px 32px 60px;
    }
}