.gift{
    padding: 35px 20px;
    position: relative;
    @media (min-width: @tablet-width) {
        padding: 69px 30px 76px;
    }
    @media (min-width: @desktop-width) {
        padding: 0;
        padding-right: 110px;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @media (min-width: @tablet-width) {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (min-width: @desktop-width) {
    
        }
    }
    &__wrapper {
        position: relative;
        box-sizing: border-box;
        width: 280px;
        height: 290px;
        background-image: url(../../img/cat-in-bag.webp);
        background-repeat: no-repeat;

        &::after {
            content: "";
            background-color: rgba(104, 183, 56, 0.85);
            display: block;
            width: 100%;
            height: 100%;
        }
        @media (min-width: @tablet-width) {
            width: 708px;
            height: 200px;
            background-size: cover;
            background-position: 50% -320px;
        }
        @media (min-width: @desktop-width) {
            width: 245px;
            height: 289px;
            background-position: initial;
    
        }
        &::before {
            content: url(../../img/icon_gift.svg);
            position: absolute;
            top: 59px;
            left: 101px;
            z-index: 1;
            @media (min-width: @tablet-width) {
                width: 80px;
                height: 83px;
                top: 57px;
                left: 77px;
            }
            @media (min-width: @desktop-width) {
        
            }
        }
    }
    &__text {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        width: 161px;
        position: absolute;
        top: 187px;
        left: 58px;
        @media (min-width: @tablet-width) {
            width: 161px;
            text-align: start;
            top: 71px;
            left: 422px;

        }
        @media (min-width: @desktop-width) {
            top: 185px;
            left: 41px;
            text-align: center;
        }
    }
}