.promo {
    min-height: 440px;
    position: relative;
    @media (min-width: @tablet-width) {
        min-height: 872px;
    }
    @media (min-width: @desktop-width) {
        min-height: 587px;
        padding-bottom: 50px;
    }
    &__wrapper{
        position: relative;
        color: #ffffff;
        width: 320px;
        min-height: 302px;
        background-color: rgba(104, 183, 56, 0.85);
        @media (min-width: @tablet-width) {
            color: #000000;
            width: 708px;
            background-color: #ffffff;
            min-height: 263px;
        }
        @media (min-width: @desktop-width) {
            width: 720px;
            min-height: 694px;
            background-color: rgba(104, 183, 56, 0.85);
            position: absolute;
            right: 0;
            top: -139px;
        }
    }
    &__wrapper::after{
        position: absolute;
        content: "";
        background-image: image-set(
            url("../img/background-mobile@2x.webp") type("image/webp") 2x,
            url("../img/background-mobile.webp") type("image/webp") 1x,
            url("../img/background-mobile@2x.jpg") type("image/jpg") 2x,
            url("../img/background-mobile.jpg") type("image/jpg") 1x
        );
        width: 320px;
        height: 302px;
        display: inline-block;
        z-index: -1;
        top: 0;
        left: 0;
        @media (min-width: @tablet-width) {
                content: none;
        }
        @media (min-width: @desktop-width) {
            content: "";
            background-image: image-set(
                url("../img/background-desktop@2x.webp") type("image/webp") 2x,
                url("../img/background-desktop.webp") type("image/webp") 1x,
                url("../img/background-desktop@2x.jpg") type("image/jpg") 2x,
                url("../img/background-desktop.jpg") type("image/jpg") 1x
            );
            width: 720px;
            height: 694px;
            z-index: -1;
            top: 0;
            left: 0;
        }
    }
    &__title {
        width: 250px;
        padding-top: 27px;
        padding-left: 36px;
        @media (min-width: @tablet-width) {
            width: 416px;
            padding-top: 62px;
            padding-left: 117px;
        }
        @media (min-width: @desktop-width) {
            position: absolute;
            right: 835px;
            top: 223px;
            z-index: 1;
            padding: 0;
        }
    }
    &__subtitle {
        text-transform: uppercase;
        padding-top: 25px;
        padding-left: 60px;
        @media (min-width: @tablet-width) {
            width: 416px;
            padding-top: 41px;
            padding-left: 119px;
        }
        @media (min-width: @desktop-width) {
            position: absolute;
            right: 834px;
            top: 383px;
            z-index: 1;
            padding: 0;
        }
    }
    &__image {
        position: relative;
        z-index: 1;
        margin-top: -135px;
        padding-left: 20px;
        @media (min-width: @tablet-width) {
            margin: 0;
            padding-left: 30px;
            width: auto;
            height: 609px;
            z-index: 0;
        }
        @media (min-width: @desktop-width) {
            width: auto;
            height: 499px;
            padding: 0;
            z-index: 0;
            left: 558px;

        }
    }
    &__button {
        margin: 0 20px;
        @media (min-width: @tablet-width) {
            position: absolute;
            top: 292px;
            left: 120px;
            z-index: 1;
            font-size: 20px;
            line-height: 26px;
            padding: 14px 26px;
            margin: 0;
            width: 244px;
        }
        @media (min-width: @desktop-width) {
            top: 316px;
            left: 190px;
            z-index: 1;
        }
    }
}
