.site-menu {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 320px;
    @media (min-width: @tablet-width) {
        display: block;
        background-color:  transparent;
        min-width: 440px;
    }
    @media (min-width: @desktop-width) {
        width: 478px;
    } 
    &--nojs {
        position: static;
        .site-menu__toggler {
            display: none;
        }
        .site-menu__wrapper {
            display: block;
        }
    }
    &--closed &__wrapper {
        display: none;
        @media (min-width: @tablet-width) {
            display: block;
        } 
    }
    &--opened &__wrapper {
        display: block;
    }
    &__toggler {
        position: absolute;
        top: -41px;
        right: 20px;
        z-index: 2;
        display: block;
        width: 24px;
        height: 16px;
        background-color: #ffffff;
        cursor: pointer;
        border: none;
        @media (min-width: @tablet-width) {
            display: none;
        }
    }
    &--opened &__toggler {
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 7px;
            left: 0px;
            width: 24px;
            height: 1.5px;
            background-color: #000000;
        }

        &::before {
            transform: rotate(45deg);
            box-shadow: none;
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
    &--closed &__toggler::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 1.5px;
        background-color: #000000;
        box-shadow: 0 7px 0 0 #000000, 0 14px 0 0 #000000;
    }
    &__list {
        display: flex;
        flex-direction: column;
        @media (min-width: @tablet-width) {
            flex-direction: row;;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 2px;
            padding: 42px 0 10px 0;

        }
        @media (min-width: @desktop-width) {
            padding: 69px 0 8px 0;
            &--index {
                color: #ffffff
            }
        } 

    }
    &__item {
        text-align: center;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-size: 20px;
        line-height: 20px;
        padding: 20px 0 24px 0;
        border-top: 1px solid #E6E6E6;
        @media (min-width: @tablet-width) {
            font-size: 18px;
            line-height: 24px;
            border: none;
            padding: 0;
            &--current {
                border-bottom: 2px solid #68B738;
            }
        }
        @media (min-width: @desktop-width) {
            font-size: 20px;
            line-height: 30px;
            &--index_current{
                border-bottom: 2px solid #ffffff;

            }
        } 
    }
    
}