@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: start;
}
li {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }
}
.text {
  color: #444444;
}
@media (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    color: #000000;
  }
}
.subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  display: inline-block;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.button {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  padding: 11px 0;
  background-color: #68B738;
  color: #ffffff;
  text-align: center;
  border: none;
  display: block;
  text-transform: uppercase;
  box-sizing: border-box;
}
.button:hover {
  background-color: #5EAA2F;
}
.button:active {
  background-color: #5EAA2F;
  color: rgba(255, 255, 255, 0.3);
}
.page {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page {
    width: 1440px;
  }
}
.page__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.page__main {
  flex-grow: 1;
}
.page__footer {
  margin-top: auto;
}
.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  position: relative;
}
@media (min-width: 768px) {
  .page-header {
    width: 708px;
    align-items: normal;
  }
}
@media (min-width: 1440px) {
  .page-header {
    width: 1220px;
    position: relative;
    z-index: 1;
  }
}
.page-header__logo {
  width: 101px;
  height: 18px;
  padding: 23px 0 24px 90px;
  position: relative;
}
.page-header__logo::before {
  content: url(../img/logo-mobile.svg);
  position: absolute;
  top: 10px;
  left: 0px;
  width: 34px;
  height: 38px;
}
@media (min-width: 768px) {
  .page-header__logo {
    padding: 43px 0 16px 72px;
  }
  .page-header__logo::before {
    content: url(../img/logo-tablet.svg);
    position: absolute;
    top: 26px;
    left: 0px;
    width: 60px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .page-header__logo {
    padding: 75px 0 12px 84px;
  }
  .page-header__logo::before {
    content: url(../img/logo-desktop.svg);
    position: absolute;
    top: 53px;
    left: 0px;
    width: 70px;
    height: 59px;
  }
}
.page-header__logo:hover {
  opacity: 80%;
}
.page-header__logo:active {
  opacity: 60%;
}
.page-header__site-menu {
  position: absolute;
  top: 65px;
  left: -20px;
  z-index: 2;
}
@media (min-width: 768px) {
  .page-header__site-menu {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
}
.site-menu {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 320px;
}
@media (min-width: 768px) {
  .site-menu {
    display: block;
    background-color: transparent;
    min-width: 440px;
  }
}
@media (min-width: 1440px) {
  .site-menu {
    width: 478px;
  }
}
.site-menu--nojs {
  position: static;
}
.site-menu--nojs .site-menu__toggler {
  display: none;
}
.site-menu--nojs .site-menu__wrapper {
  display: block;
}
.site-menu--closed .site-menu__wrapper {
  display: none;
}
@media (min-width: 768px) {
  .site-menu--closed .site-menu__wrapper {
    display: block;
  }
}
.site-menu--opened .site-menu__wrapper {
  display: block;
}
.site-menu__toggler {
  position: absolute;
  top: -43px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 18px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .site-menu__toggler {
    display: none;
  }
}
.site-menu--opened .site-menu__toggler::before,
.site-menu--opened .site-menu__toggler::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
}
.site-menu--opened .site-menu__toggler::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.site-menu--opened .site-menu__toggler::after {
  transform: rotate(-45deg);
}
.site-menu--closed .site-menu__toggler::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.site-menu__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .site-menu__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 42px 0 2px;
  }
}
@media (min-width: 1440px) {
  .site-menu__list {
    padding: 69px 0 32px 0;
  }
  .site-menu__list--index {
    color: #ffffff;
  }
}
.site-menu__item {
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding: 22px 0 23px 0;
  border-top: 1px solid #E6E6E6;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .site-menu__item {
    letter-spacing: 0;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 0;
  }
  .site-menu__item--current {
    padding-bottom: 8px;
    border-bottom: 2px solid #68B738;
  }
}
@media (min-width: 1440px) {
  .site-menu__item {
    font-size: 20px;
    line-height: 30px;
  }
  .site-menu__item--index_current {
    padding-bottom: 6px;
    border-bottom: 2px solid #ffffff;
  }
}
.page-main__header {
  box-sizing: border-box;
  padding: 27px 20px 41px;
  border-top: 1px solid #D9D9D9;
  text-align: start;
}
@media (min-width: 768px) {
  .page-main__header {
    padding: 65px 30px 0;
    border: none;
  }
}
@media (min-width: 1440px) {
  .page-main__header {
    padding: 74px 110px 0;
  }
}
@media (min-width: 768px) {
  .page-main__header--form {
    padding: 65px 30px 0 60px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .page-main__header--form {
    padding: 74px 110px 0;
  }
}
.page-main__section {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-main__section {
    padding: 0 30px;
  }
  .page-main__section:first-of-type {
    padding-top: 82px;
  }
}
@media (min-width: 1440px) {
  .page-main__section {
    padding: 0 110px;
  }
  .page-main__section:first-of-type {
    padding-top: 84px;
  }
}
.page-main__form {
  padding: 0 20px;
  margin-top: -4px;
}
@media (min-width: 768px) {
  .page-main__form {
    padding: 0 30px;
    box-sizing: border-box;
    width: 768px;
    margin: 0;
    padding-top: 54px;
  }
}
@media (min-width: 1440px) {
  .page-main__form {
    padding: 0 110px;
    width: 1440px;
  }
  .page-main__form:first-of-type {
    padding-top: 56px;
  }
}
@media (min-width: 1440px) {
  .page-main__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    padding-bottom: 86px;
  }
}
.page-footer {
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .page-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-footer {
    padding: 0 110px;
  }
}
.page-footer__logo {
  padding: 39px 96px 32px 96px;
  height: 24px;
  display: block;
  position: relative;
}
.page-footer__logo:hover {
  opacity: 0.8;
}
.page-footer__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .page-footer__logo {
    padding: 63px 0 60px;
  }
}
@media (min-width: 1440px) {
  .page-footer__logo {
    padding-bottom: 62px;
  }
}
.page-footer__logo::after {
  content: "";
  position: absolute;
  top: 95px;
  left: 20px;
  width: 280px;
  height: 1px;
  background-color: #D9D9D9;
}
@media (min-width: 768px) {
  .page-footer__logo::after {
    content: none;
  }
}
.page-footer__socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .page-footer__socials {
    flex-direction: row;
    justify-content: space-between;
  }
}
.page-footer__copyright {
  padding: 22px 20px;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    padding: 0;
  }
}
.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.promo {
  min-height: 440px;
  position: relative;
}
@media (min-width: 768px) {
  .promo {
    min-height: 872px;
  }
}
@media (min-width: 1440px) {
  .promo {
    min-height: 587px;
    padding-bottom: 50px;
  }
}
.promo__wrapper {
  position: relative;
  color: #ffffff;
  width: 320px;
  min-height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .promo__wrapper {
    color: #000000;
    width: 708px;
    background-color: #ffffff;
    min-height: 263px;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    width: 720px;
    min-height: 694px;
    background-color: rgba(104, 183, 56, 0.85);
    position: absolute;
    right: 0;
    top: -139px;
  }
}
.promo__wrapper::after {
  position: absolute;
  content: "";
  background-image: -webkit-image-set(url("../img/background-mobile@2x.webp") type("image/webp") 2x, url("../img/background-mobile.webp") type("image/webp") 1x, url("../img/background-mobile@2x.jpg") type("image/jpg") 2x, url("../img/background-mobile.jpg") type("image/jpg") 1x);
  background-image: image-set(url("../img/background-mobile@2x.webp") type("image/webp") 2x, url("../img/background-mobile.webp") type("image/webp") 1x, url("../img/background-mobile@2x.jpg") type("image/jpg") 2x, url("../img/background-mobile.jpg") type("image/jpg") 1x);
  width: 320px;
  height: 302px;
  display: inline-block;
  z-index: -1;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .promo__wrapper::after {
    content: none;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper::after {
    content: "";
    background-image: -webkit-image-set(url("../img/background-desktop@2x.webp") type("image/webp") 2x, url("../img/background-desktop.webp") type("image/webp") 1x, url("../img/background-desktop@2x.jpg") type("image/jpg") 2x, url("../img/background-desktop.jpg") type("image/jpg") 1x);
    background-image: image-set(url("../img/background-desktop@2x.webp") type("image/webp") 2x, url("../img/background-desktop.webp") type("image/webp") 1x, url("../img/background-desktop@2x.jpg") type("image/jpg") 2x, url("../img/background-desktop.jpg") type("image/jpg") 1x);
    width: 720px;
    height: 694px;
    z-index: -1;
    top: 0;
    left: 0;
  }
}
.promo__title {
  width: 250px;
  padding-top: 27px;
  padding-left: 36px;
}
@media (min-width: 768px) {
  .promo__title {
    width: 416px;
    padding-top: 62px;
    padding-left: 117px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    position: absolute;
    right: 835px;
    top: 223px;
    z-index: 1;
    padding: 0;
  }
}
.promo__subtitle {
  text-transform: uppercase;
  padding-top: 25px;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .promo__subtitle {
    width: 416px;
    padding-top: 41px;
    padding-left: 119px;
  }
}
@media (min-width: 1440px) {
  .promo__subtitle {
    position: absolute;
    right: 834px;
    top: 383px;
    z-index: 1;
    padding: 0;
  }
}
.promo__image {
  position: relative;
  z-index: 1;
  margin-top: -135px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .promo__image {
    margin: 0;
    padding-left: 30px;
    width: auto;
    height: 609px;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    width: auto;
    height: 499px;
    padding: 0;
    z-index: 0;
    left: 558px;
  }
}
.promo__button {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .promo__button {
    position: absolute;
    top: 292px;
    left: 120px;
    z-index: 1;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    margin: 0;
    width: 244px;
  }
}
@media (min-width: 1440px) {
  .promo__button {
    top: 316px;
    left: 190px;
    z-index: 1;
  }
}
.target__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .target__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .target__wrapper {
    padding: 0 110px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.target__lose {
  margin-top: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .target__lose {
    margin: 0;
  }
}
.target__lose::after {
  content: "";
  background-image: url(../img/goal-lose.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 50px;
  height: 53px;
  top: 21px;
  left: 22px;
}
@media (min-width: 768px) {
  .target__lose::after {
    width: 200px;
    height: 211px;
    top: 75px;
    left: 446px;
  }
}
@media (min-width: 1440px) {
  .target__lose::after {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }
}
.target__gain {
  margin-top: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .target__gain {
    margin-top: 30px;
  }
}
@media (min-width: 1440px) {
  .target__gain {
    margin: 0;
  }
}
.target__gain::after {
  content: "";
  background-image: url(../img/goal-gain.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 67px;
  height: 50px;
  top: 24px;
  left: 13px;
}
@media (min-width: 768px) {
  .target__gain::after {
    width: 268px;
    height: 200px;
    top: 91px;
    left: 412px;
  }
}
@media (min-width: 1440px) {
  .target__gain::after {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
  }
}
.goal {
  background-color: #F2F2F2;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .goal {
    padding-left: 53px;
  }
}
@media (min-width: 1440px) {
  .goal {
    padding-left: 0px;
    width: 570px;
    box-sizing: border-box;
  }
}
.goal__title {
  font-size: 24px;
  line-height: 37px;
  padding-top: 30px;
  padding-left: 71px;
  text-transform: uppercase;
  text-align: start;
}
@media (min-width: 768px) {
  .goal__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 75px;
    padding-left: 0;
  }
}
@media (min-width: 1440px) {
  .goal__title {
    padding-left: 214px;
    padding-top: 77px;
  }
}
.goal__text {
  width: 227px;
  padding-top: 29px;
}
@media (min-width: 768px) {
  .goal__text {
    width: 340px;
    padding-top: 24px;
  }
}
@media (min-width: 1440px) {
  .goal__text {
    width: 467px;
    padding-top: 73px;
    padding-left: 52px;
  }
}
.goal__link {
  padding: 42px 0 22px 0;
  display: block;
  width: 134px;
  position: relative;
}
@media (min-width: 768px) {
  .goal__link {
    padding: 52px 0 57px 0;
    width: 165px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .goal__link {
    padding: 27px 0 59px 52px;
  }
}
.goal__link::before {
  content: "";
  width: 240px;
  height: 1px;
  background-color: #D9D9D9;
  position: absolute;
  top: 23px;
}
@media (min-width: 768px) {
  .goal__link::before {
    content: none;
  }
}
.goal__link::after {
  content: url("../img/arrow.svg");
  position: absolute;
  top: 40px;
  right: 0;
}
@media (min-width: 768px) {
  .goal__link::after {
    top: 48px;
  }
}
@media (min-width: 1440px) {
  .goal__link::after {
    top: 25px;
  }
}
.goal__link:hover::after {
  content: url("../img/arrow-long.svg");
  position: absolute;
  top: 37px;
  right: 8px;
}
@media (min-width: 768px) {
  .goal__link:hover::after {
    top: 50px;
  }
}
@media (min-width: 1440px) {
  .goal__link:hover::after {
    top: 25px;
  }
}
.goal__link:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .info::after {
    content: "";
    display: block;
    height: 1px;
    width: 768px;
    border-bottom: 1px solid #E6E6E6;
    left: -30px;
    bottom: 0;
  }
}
@media (min-width: 1440px) {
  .info::after {
    content: none;
  }
}
.info__wrapper {
  padding: 20px 20px 0;
}
@media (min-width: 768px) {
  .info__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .info__wrapper {
    padding: 0 110px;
  }
}
.info__title {
  line-height: 40px;
  text-align: start;
}
@media (min-width: 768px) {
  .info__title {
    line-height: 60px;
    padding-top: 45px;
  }
}
@media (min-width: 1440px) {
  .info__title {
    padding-top: 71px;
  }
}
.info__list {
  padding: 20px 0 49px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 768px) {
  .info__list {
    padding: 32px 75px 10px 0;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .info__list {
    padding: 32px 0 26px 0;
  }
}
.info__item {
  color: #444444;
  padding: 20px 0 0 80px;
  min-height: 60px;
  background-repeat: no-repeat;
  background-position: 0px 20px;
  background-size: 60px 60px;
}
.info__item br {
  display: none;
}
@media (min-width: 768px) {
  .info__item {
    max-width: 250px;
    min-height: initial;
    padding: 151px 0 57px 0;
    background-position: 0px 40px;
    background-size: 80px 80px;
    position: relative;
    margin-bottom: 37px;
  }
  .info__item br {
    display: block;
  }
}
@media (min-width: 1440px) {
  .info__item {
    max-width: 246px;
  }
}
.info__item--healthy {
  background-image: url("../img/info-1.svg");
}
@media (min-width: 768px) {
  .info__item--healthy {
    background-image: url("../img/info-1-tablet.svg");
  }
  .info__item--healthy::after {
    content: "1";
    color: #f2f2f2;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    top: 0;
    left: 120px;
    z-index: -1;
  }
}
.info__item--simple {
  background-image: url("../img/info-2.svg");
}
@media (min-width: 768px) {
  .info__item--simple {
    background-image: url("../img/info-2-tablet.svg");
  }
  .info__item--simple::after {
    content: "2";
    color: #f2f2f2;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    top: 0;
    left: 112px;
    z-index: -1;
  }
}
.info__item--eating {
  background-image: url("../img/info-3.svg");
}
@media (min-width: 768px) {
  .info__item--eating {
    background-image: url("../img/info-3-tablet.svg");
  }
  .info__item--eating::after {
    content: "3";
    color: #f2f2f2;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    top: 0;
    left: 113px;
    z-index: -1;
  }
}
.info__item--time {
  background-image: url("../img/info-4.svg");
}
@media (min-width: 768px) {
  .info__item--time {
    background-image: url("../img/info-4-tablet.svg");
  }
  .info__item--time::after {
    content: "4";
    color: #f2f2f2;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    top: 0;
    left: 114px;
    z-index: -1;
  }
}
.example__wrapper {
  padding: 0 20px;
  background-color: #EAEAEA;
}
@media (min-width: 768px) {
  .example__wrapper {
    padding: 0 30px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    padding: 0 110px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
  }
}
.example__title {
  padding-top: 25px;
  line-height: 40px;
  text-align: start;
}
@media (min-width: 768px) {
  .example__title {
    padding-top: 43px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    width: 1440px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 6px 0 76px 110px;
    margin: 0 -110px;
  }
}
@media (min-width: 1440px) {
  .example__content {
    width: 436px;
    padding: 70px 193px 75px 0;
  }
}
.example__text {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .example__text {
    color: #444444;
    padding-top: 63px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    padding: 0;
  }
}
.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .example__list {
    padding-top: 52px;
    align-items: center;
    padding-bottom: 250px;
  }
}
@media (min-width: 1440px) {
  .example__list {
    padding: 0;
    padding-top: 69px;
    justify-content: left;
  }
}
.example__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (min-width: 1440px) {
  .example__item {
    padding-right: 42px;
  }
}
.example__description {
  font-family: "Oswald", sans-serif;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  font-size: 24px;
  line-height: 24px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .example__description {
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 37px;
  }
}
.example__caption {
  background-color: #EAEAEA;
  width: 77px;
  padding: 0 5px;
  text-align: center;
  margin-top: -12px;
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: 768px) {
  .example__caption {
    background-color: inherit;
    width: initial;
    padding: 0 8px;
    margin-top: -9px;
    font-size: 14px;
    line-height: 14px;
  }
}
.example__cost {
  text-transform: uppercase;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  padding: 20px 46px 0 46px;
  display: block;
}
@media (min-width: 768px) {
  .example__cost {
    width: 174px;
    font-size: 20px;
    line-height: 25px;
    padding: 0;
    padding-left: 125px;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .example__cost {
    width: 327px;
    line-height: 20px;
    text-align: start;
    padding: 55px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
}
.example__change {
  padding-top: 40px;
  position: relative;
  min-height: 318px;
}
@media (min-width: 768px) {
  .example__change {
    padding: 0 30px;
    min-height: 462px;
    background-color: #eaeaea;
    margin: 0 -30px;
  }
}
@media (min-width: 1440px) {
  .example__change {
    min-width: 591px;
    background-color: #f2f2f2;
    top: -10px;
    margin: 0;
    padding: 0;
  }
}
.change__image {
  position: absolute;
  top: 40px;
  left: 0;
}
@media (min-width: 768px) {
  .change__image {
    width: 592px;
    height: 511px;
    top: -170px;
    left: 90px;
  }
}
@media (min-width: 1440px) {
  .change__image {
    left: 0;
  }
}
.change__button {
  border: none;
  background-color: inherit;
  position: absolute;
  width: 49px;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  bottom: 39px;
}
@media (min-width: 768px) {
  .change__button {
    bottom: 57px;
    font-size: 20px;
    line-height: 30px;
  }
  .change__button::after {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    left: 7px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }
}
@media (min-width: 1440px) {
  .change__button {
    background-color: #f2f2f2;
    bottom: 56px;
  }
}
.change__before {
  left: 35px;
}
@media (min-width: 768px) {
  .change__before {
    left: 96px;
  }
}
@media (min-width: 1440px) {
  .change__before {
    left: 8px;
  }
}
.change__after {
  right: 35px;
}
@media (min-width: 768px) {
  .change__after {
    right: 103px;
  }
}
@media (min-width: 1440px) {
  .change__after {
    right: 14px;
  }
}
.change__range {
  position: absolute;
  bottom: 47px;
  left: 97px;
}
@media (min-width: 768px) {
  .change__range {
    bottom: 72px;
    left: 172px;
  }
}
@media (min-width: 1440px) {
  .change__range {
    left: 83px;
  }
}
.range {
  box-sizing: border-box;
  width: 86px;
  height: 14px;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .range {
    width: 426px;
    height: 6px;
    box-sizing: border-box;
    background-color: #dcdcdc;
  }
}
.range__bar {
  position: absolute;
  background-color: #68B738;
  top: 3px;
  left: 5px;
  border-radius: 6px;
  width: 36px;
  height: 6px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .range__bar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #CDCDCD;
    left: 195px;
    top: -15px;
  }
}
.range__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  background-color: #68B738;
}
@media (min-width: 768px) {
  .range__toggle {
    width: 8px;
    height: 8px;
    top: 12px;
    right: 12px;
  }
}
.address--index {
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .address {
    position: relative;
  }
}
.address__info {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .address__info {
    margin: 0 -30px;
    padding: 60px 70px 56px;
    background-color: inherit;
  }
}
@media (min-width: 1440px) {
  .address__info {
    margin: 0;
    padding: 56px 80px;
    position: absolute;
    z-index: 1;
    top: 99px;
    width: 405px;
    background-color: #ffffff;
  }
}
.address__title {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 139px;
  color: #111111;
}
@media (min-width: 768px) {
  .address__title {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }
}
.address__text {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  width: 139px;
  color: #444444;
}
.address__text br {
  display: none;
}
@media (min-width: 768px) {
  .address__text {
    width: 160px;
    font-size: 16px;
    text-align: right;
    min-height: 80px;
    position: relative;
    top: -5px;
  }
  .address__text br {
    display: block;
  }
}
@media (min-width: 1440px) {
  .address__text {
    text-align: left;
    left: 5px;
  }
}
.address__wrapper {
  position: relative;
  width: 320px;
  height: 362px;
}
@media (min-width: 768px) {
  .address__wrapper {
    width: 768px;
    height: 400px;
    margin-left: -30px;
  }
}
@media (min-width: 1440px) {
  .address__wrapper {
    width: 1440px;
    margin-left: -110px;
  }
}
.address__wrapper::after {
  content: "";
  width: 57px;
  height: 53px;
  background-image: url(../img/map_pin.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 134px;
  top: 139px;
  z-index: 1;
}
@media (min-width: 768px) {
  .address__wrapper::after {
    left: 333px;
    top: 146px;
    width: 113px;
    height: 106px;
  }
}
@media (min-width: 1440px) {
  .address__wrapper::after {
    left: 908px;
    top: 131px;
  }
}
@media (min-width: 768px) {
  .address__image {
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .address__image {
    width: 1440px;
  }
}
@media (min-width: 768px) {
  .socials {
    min-width: 413px;
  }
}
@media (min-width: 1440px) {
  .socials {
    min-width: 670px;
  }
}
.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 93px;
  width: 130px;
  position: relative;
}
@media (min-width: 768px) {
  .socials__list {
    align-items: center;
    padding: 56px 0 58px 0;
    min-height: 33px;
  }
}
.socials__list::after {
  content: "";
  position: absolute;
  top: 63px;
  left: 20px;
  width: 280px;
  height: 1px;
  background-color: #D9D9D9;
}
@media (min-width: 768px) {
  .socials__list::after {
    content: none;
  }
}
.socials__item {
  color: #666666;
}
.socials__item:hover {
  color: #68B738;
}
.socials__item:active {
  opacity: 0.3;
}
.socials__item--vk {
  width: 23px;
  height: 16px;
}
.socials__item--instagram {
  width: 16px;
  height: 16px;
}
.socials__item--facebook {
  width: 22px;
  height: 22px;
}
@media (min-width: 768px) {
  .socials__item--vk {
    width: 30px;
    height: 22px;
  }
  .socials__item--instagram {
    width: 23px;
    height: 23px;
  }
  .socials__item--facebook {
    width: 28px;
    height: 33px;
  }
}
.copyright {
  width: 280px;
}
@media (min-width: 768px) {
  .copyright {
    width: initial;
  }
}
.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #666666;
}
.copyright__link:hover {
  color: #68B738;
}
.copyright__link:active {
  opacity: 0.3;
}
.copyright__text {
  font-size: 16px;
  line-height: 18.4px;
  color: #444444;
}
@media (min-width: 768px) {
  .copyright__text {
    padding: 6px 22px 10px 0;
  }
}
.catalog-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .catalog-list {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: auto;
    column-gap: 80px;
    row-gap: 62px;
  }
}
.catalog-list__item {
  padding: 8px 0 11px 0;
}
@media (min-width: 768px) {
  .catalog-list__item {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .catalog-list__item {
    padding-bottom: 63px;
  }
}
.card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 11px 41px 14px 48px 9px 13px 40px 14px;
  position: relative;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    margin-top: 81px;
    margin-bottom: 60px;
    width: 324px;
    padding-bottom: 39px;
  }
  .card:nth-child(odd) .card__image-wrapper {
    top: -73px;
    margin-bottom: -73px;
  }
  .card:nth-child(odd) .card__image {
    width: 168px;
    min-height: 200px;
  }
}
@media (min-width: 1440px) {
  .card {
    margin-bottom: 0;
    width: 245px;
    padding-bottom: 40px;
  }
  .card:nth-child(odd) .card__image-wrapper {
    top: -80px;
    margin-bottom: -80px;
  }
  .card:nth-child(odd) .card__image {
    width: 172px;
    min-height: 196px;
  }
}
.card__image-wrapper {
  grid-column: 1/2;
  grid-row: 2/5;
  justify-self: center;
  align-self: center;
  position: relative;
}
@media (min-width: 768px) {
  .card__image-wrapper {
    order: -1;
    top: -45px;
    margin-bottom: -45px;
  }
}
@media (min-width: 1440px) {
  .card__image-wrapper {
    top: -52px;
    margin-bottom: -52px;
  }
}
@media (min-width: 768px) {
  .card__image {
    width: 161px;
    height: 172px;
  }
}
.card__link {
  grid-column: 2/3;
  grid-row: 2/3;
}
.card__heading {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  width: 76px;
  color: #222222;
}
@media (min-width: 768px) {
  .card__heading {
    width: 174px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding-top: 34px;
  }
}
@media (min-width: 1440px) {
  .card__heading {
    width: 150px;
    line-height: 21px;
    padding-top: 46px;
  }
}
.card__button {
  grid-column: 1/3;
  grid-row: 7/8;
}
@media (min-width: 768px) {
  .card__button {
    margin-top: 27px;
    width: 248px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .card__button {
    width: 168px;
    margin-top: 33px;
  }
}
.card__list {
  grid-column: 2/3;
  grid-row: 4/5;
}
@media (min-width: 768px) {
  .card__list {
    padding-top: 21px;
  }
}
.card__title {
  font-size: 12px;
  line-height: 16px;
  float: left;
  text-align: left;
  clear: both;
  color: #444444;
}
@media (min-width: 768px) {
  .card__title {
    font-size: 16px;
  }
}
.card__description {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  width: 140px;
  text-align: right;
}
@media (min-width: 768px) {
  .card__description {
    font-size: 16px;
    width: 247px;
    padding-bottom: 14px;
    position: relative;
  }
  .card__description::after {
    content: "";
    display: block;
    width: 250px;
    height: 1px;
    background-color: #cdcdcd;
    position: relative;
    top: 8px;
  }
}
@media (min-width: 1440px) {
  .card__description {
    width: 166px;
    padding-bottom: 15px;
  }
  .card__description::after {
    content: "";
    display: block;
    width: 169px;
    height: 1px;
    background-color: #cdcdcd;
    position: relative;
    top: 10px;
  }
}
.card::before {
  content: "";
  width: 320px;
  height: 1px;
  background-color: #EBEBEB;
  position: absolute;
  left: -20px;
  top: 0px;
}
@media (min-width: 768px) {
  .card::before {
    content: none;
  }
}
.pagination {
  padding: 25px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .pagination {
    margin-top: 81px;
    margin-bottom: 60px;
    padding: 0;
    padding-bottom: 39px;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .pagination {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}
.pagination__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  padding: 53px 37px 8px 39px;
  position: relative;
  text-transform: uppercase;
}
.pagination__title::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #D3D3D3;
  transform: rotate(90deg);
  top: 15px;
  left: 125px;
}
@media (min-width: 768px) {
  .pagination__title::before {
    width: 60px;
    top: 82px;
    left: 36px;
  }
}
.pagination__title::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #D3D3D3;
  top: 15px;
  left: 125px;
}
@media (min-width: 768px) {
  .pagination__title::after {
    width: 60px;
    top: 82px;
    left: 36px;
  }
}
@media (min-width: 768px) {
  .pagination__title {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 134px;
    padding: 0;
    padding-top: 161px;
  }
}
.pagination__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  padding: 0 30px 21px 29px;
}
@media (min-width: 768px) {
  .pagination__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 167px;
    padding: 0;
    padding-top: 23px;
  }
}
.pagination__button {
  background-color: #F2F2F2;
  color: #444444;
}
.pagination__button:hover {
  background-color: #EBEBEB;
}
.pagination__button:active {
  color: rgba(68, 68, 68, 0.3);
}
@media (min-width: 768px) {
  .pagination__button {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 87px 38px 0;
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .pagination__button {
    width: 168px;
  }
}
.pagination::before {
  content: "";
  width: 320px;
  height: 1px;
  background-color: #EBEBEB;
  position: absolute;
  left: -20px;
  top: -1px;
}
@media (min-width: 768px) {
  .pagination::before {
    content: none;
  }
}
.pagination::after {
  content: "";
  width: 320px;
  height: 1px;
  background-color: #EBEBEB;
  position: absolute;
  left: -20px;
  bottom: 0px;
}
@media (min-width: 768px) {
  .pagination::after {
    content: none;
  }
}
.additional__title {
  font-family: Oswald;
  font-size: 24px;
  line-height: 24px;
  padding: 25px 22px 36px 0;
  position: relative;
  width: 226px;
  background-color: #ffffff;
}
.additional__title::after {
  content: "";
  width: 300px;
  height: 2px;
  background-color: #68B738;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .additional__title::after {
    width: 768px;
    left: -30px;
    top: 29px;
  }
}
@media (min-width: 1440px) {
  .additional__title::after {
    width: 1440px;
    left: -70px;
    top: 98px;
  }
}
@media (min-width: 768px) {
  .additional__title {
    width: 339px;
    padding: 8px 36px 80px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .additional__title {
    padding: 76px 35px 81px 40px;
    position: relative;
    left: -40px;
  }
}
@media (min-width: 1440px) {
  .additional {
    padding-right: 0;
  }
}
.add-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 13px 0 19px 0;
  border-bottom: 1px solid #CDCDCD;
}
@media (min-width: 768px) {
  .add-card {
    border: 1px solid #CDCDCD;
    border-top: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 38px 28px;
  }
}
@media (min-width: 1440px) {
  .add-card {
    width: 896px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #CDCDCD;
    padding: 15px 0 16px;
    align-items: center;
    justify-content: end;
  }
}
.add-card:nth-of-type(1) {
  border-top: 1px solid #CDCDCD;
}
.add-card__heading {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .add-card__heading {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .add-card__heading {
    padding: 0;
  }
}
.add-card__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 280px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .add-card__list {
    display: grid;
    grid-template-columns: 150px 93px;
    justify-items: end;
    width: auto;
  }
}
@media (min-width: 1440px) {
  .add-card__list {
    padding: 0;
    margin-left: auto;
    grid-template-columns: 138px 150px;
  }
}
.add-card__description {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .add-card__description {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .add-card__description:first-of-type {
    justify-self: start;
  }
}
@media (min-width: 768px) {
  .add-card__button {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .add-card__button {
    width: 244px;
    margin-left: 38px;
  }
}
.gift {
  padding: 35px 20px;
  position: relative;
}
@media (min-width: 768px) {
  .gift {
    padding: 69px 30px 76px;
  }
}
@media (min-width: 1440px) {
  .gift {
    padding: 0;
    padding-right: 110px;
  }
}
.gift__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .gift__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.gift__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  height: 290px;
  background-image: -webkit-image-set(url("../img/gift-mobile@2x.webp") type("image/webp") 2x, url("../img/gift-mobile.webp") type("image/webp") 1x, url("../img/gift-mobile@2x.jpg") type("image/jpg") 2x, url("../img/gift-mobile.jpg") type("image/jpg") 1x);
  background-image: image-set(url("../img/gift-mobile@2x.webp") type("image/webp") 2x, url("../img/gift-mobile.webp") type("image/webp") 1x, url("../img/gift-mobile@2x.jpg") type("image/jpg") 2x, url("../img/gift-mobile.jpg") type("image/jpg") 1x);
  background-repeat: no-repeat;
}
.gift__wrapper::after {
  content: "";
  background-color: rgba(104, 183, 56, 0.85);
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .gift__wrapper {
    width: 708px;
    height: 200px;
    background-image: -webkit-image-set(url("../img/gift-tablet@2x.webp") type("image/webp") 2x, url("../img/gift-tablet.webp") type("image/webp") 1x, url("../img/gift-tablet@2x.jpg") type("image/jpg") 2x, url("../img/gift-tablet.jpg") type("image/jpg") 1x);
    background-image: image-set(url("../img/gift-tablet@2x.webp") type("image/webp") 2x, url("../img/gift-tablet.webp") type("image/webp") 1x, url("../img/gift-tablet@2x.jpg") type("image/jpg") 2x, url("../img/gift-tablet.jpg") type("image/jpg") 1x);
  }
}
@media (min-width: 1440px) {
  .gift__wrapper {
    width: 245px;
    height: 289px;
    background-image: -webkit-image-set(url("../img/gift-desktop@2x.webp") type("image/webp") 2x, url("../img/gift-desktop.webp") type("image/webp") 1x, url("../img/gift-desktop@2x.jpg") type("image/jpg") 2x, url("../img/gift-desktop.jpg") type("image/jpg") 1x);
    background-image: image-set(url("../img/gift-desktop@2x.webp") type("image/webp") 2x, url("../img/gift-desktop.webp") type("image/webp") 1x, url("../img/gift-desktop@2x.jpg") type("image/jpg") 2x, url("../img/gift-desktop.jpg") type("image/jpg") 1x);
  }
}
.gift__wrapper::before {
  content: url(../img/icon_gift.svg);
  position: absolute;
  top: 59px;
  left: 101px;
  z-index: 1;
}
@media (min-width: 768px) {
  .gift__wrapper::before {
    width: 80px;
    height: 83px;
    top: 57px;
    left: 77px;
  }
}
.gift__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 161px;
  position: absolute;
  top: 187px;
  left: 58px;
}
@media (min-width: 768px) {
  .gift__text {
    width: 161px;
    text-align: start;
    top: 71px;
    left: 422px;
  }
}
@media (min-width: 1440px) {
  .gift__text {
    top: 185px;
    left: 41px;
    text-align: center;
  }
}
.form__text {
  font-family: Oswald;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 17px;
}
@media (min-width: 768px) {
  .form__text {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 66px;
    padding-left: 40px;
  }
}
@media (min-width: 1440px) {
  .form__text {
    width: 100%;
  }
}
.form__field {
  padding: 22px 0px;
}
@media (min-width: 768px) {
  .form__field {
    padding: 0;
    margin: 0 37px 0 41px;
  }
}
@media (min-width: 1440px) {
  .form__field {
    margin: 0;
  }
}
.form__profile {
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .form__profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  .form__profile .form__field:nth-of-type(2) {
    margin-top: 72px;
    margin-bottom: 10px;
    border: 1px solid #E7E7E7;
    padding: 25px 0 25px 28px;
  }
}
@media (min-width: 1440px) {
  .form__profile {
    flex-direction: row;
  }
  .form__profile .form__field:nth-of-type(2) {
    margin: 0;
  }
}
.form__button {
  margin-top: 12px;
}
@media (min-width: 768px) {
  .form__button {
    font-size: 20px;
    line-height: 26px;
    width: 282px;
    margin: 0;
    padding: 13px 0;
  }
}
@media (min-width: 1440px) {
  .form__button {
    margin: 0;
    width: 568px;
  }
}
.form__notation {
  line-height: 16px;
  box-sizing: border-box;
  width: 280px;
  padding: 21px 60px 32px 60px;
}
@media (min-width: 768px) {
  .form__notation {
    padding: 15px 0 21px 61px;
    font-size: 16px;
    line-height: 16px;
  }
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 768px) {
  .form__wrapper {
    flex-direction: row;
    padding: 34px 0 72px 41px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper {
    padding: 41px 0 82px 0;
  }
}
.field {
  border: none;
  position: relative;
}
@media (min-width: 768px) {
  .field:nth-of-type(2) .field__item:not(:last-of-type) {
    padding-bottom: 13px;
  }
}
@media (min-width: 1440px) {
  .field {
    min-width: 569px;
    box-sizing: border-box;
  }
}
.form__profile .field::after {
  content: "";
  width: 320px;
  height: 1px;
  background-color: #D9D9D9;
  position: absolute;
  left: -20px;
  bottom: 0px;
}
@media (min-width: 768px) {
  .form__profile .field::after {
    content: none;
  }
}
.field__title {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding: 13px 20px 35px 0;
  background-color: #ffffff;
}
.field__title::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #68B738;
  position: absolute;
  z-index: -1;
  top: 29px;
  right: -20px;
}
@media (min-width: 768px) {
  .field__title::after {
    width: 768px;
    left: -30px;
    right: initial;
    top: 89px;
  }
}
@media (min-width: 1440px) {
  .field__title::after {
    width: 1440px;
    left: -70px;
  }
}
@media (min-width: 768px) {
  .field__title {
    font-size: 36px;
    line-height: 36px;
    padding: 65px 40px 76px 39px;
    position: relative;
    left: -39px;
  }
  .field__title br {
    display: none;
  }
}
@media (min-width: 768px) {
  .field__additional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 565px;
  }
}
@media (min-width: 1440px) {
  .field__additional {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .field__list--contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .field__list--contacts .field__item {
    width: 569px;
  }
}
.field__item {
  position: relative;
}
.field__item:not(:nth-last-of-type(1)) {
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .field__item:not(:nth-last-of-type(1)) {
    padding-bottom: 20px;
  }
  .field__additional .field__item {
    width: 221px;
  }
}
@media (min-width: 1440px) {
  .field__item {
    max-width: 569px;
  }
}
.field__label {
  display: flex;
  align-items: center;
}
.field__lead {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  padding-right: 12px;
}
.control .field__lead {
  padding-right: 0;
}
@media (min-width: 768px) {
  .field__lead {
    font-size: 20px;
    line-height: 30px;
    padding-right: 12px;
  }
}
.field__input {
  flex-grow: 1;
  padding: 12px 0 13px 16px;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 1px solid #E7E7E7;
  border-radius: 0px;
}
@media (min-width: 768px) {
  .field__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 10px 19px;
  }
}
.field__input:hover {
  border-color: #CDCDCD;
}
.field__input:hover + .field__image {
  color: #222222;
}
.field__input:focus {
  outline: 2px solid #444444;
  outline-offset: -1px;
}
.field__input:focus + .field__image {
  color: #68B738;
}
.field__input:invalid {
  outline: 2px solid #FF8282;
  outline-offset: -1px;
}
.field__input:invalid + .field__image {
  color: #FF8282;
}
.field__textarea {
  position: relative;
  z-index: 1;
  width: 280px;
  height: 150px;
  resize: none;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 1px solid #E7E7E7;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 9px 0 0 15px;
}
@media (min-width: 768px) {
  .field__textarea {
    width: 631px;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 0 19px;
  }
}
@media (min-width: 1440px) {
  .field__textarea {
    width: 100%;
  }
}
.field__textarea:hover {
  border-color: #CDCDCD;
}
.field__textarea:focus {
  outline: 2px solid #444444;
  outline-offset: -1px;
}
.field__image {
  position: absolute;
  right: 14px;
  color: #000000;
}
.control {
  flex-direction: row-reverse;
  justify-content: start;
}
.control__radio {
  position: relative;
  bottom: 0px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .control__radio {
    width: 40px;
    height: 40px;
  }
}
.field__input[type="radio"]:checked + .control__radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #68B738;
}
@media (min-width: 768px) {
  .field__input[type="radio"]:checked + .control__radio::after {
    width: 18px;
    height: 18px;
    left: 10px;
    top: 10px;
  }
}
.control__checkbox {
  position: relative;
  bottom: 0px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .control__checkbox {
    width: 40px;
    height: 40px;
  }
}
.field__input[type="checkbox"]:checked + .control__checkbox::after {
  content: "";
  width: 18px;
  height: 14px;
  display: block;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  left: 5px;
  color: #68B738;
}
@media (min-width: 768px) {
  .field__input[type="checkbox"]:checked + .control__checkbox::after {
    top: 10px;
    left: 8px;
    width: 24px;
    height: 19px;
    background-size: 100%;
  }
}
.control:hover .control__radio,
.control:hover .control__checkbox {
  border-color: #BABABA;
}
.control:active {
  opacity: 30%;
}
/*# sourceMappingURL=style.css.map */
